#nav-bar {
  position: fixed;
  size: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
  margin-right: 5px;
}

#nav-bar .header {
 line-height: 2.5;
 font-size: 200%;
 margin-left: 5px;
}