/* .new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  background-color: #eeeeee;
  border-radius: 5px;
  border: 0.5px solid #D5D5D5;
  padding: 10px;
  display: none;
} */

.new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 5px;
  border: 0.5px solid rgba(234, 218, 184, 0.51);
  padding: 10px;
  display: none;
  background-color: rgba(226, 204, 157, 0.72);
}

textarea {
  width: 100%;
}

.composeH2 {
  text-align: left;
  border-bottom: 2px solid grey;
  margin-top: 0px;
}

.counter {
  float: right;
}

