.new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  background-color: #eeeeee;
  border-radius: 5px;
  border: 0.5px solid #D5D5D5;
  padding: 10px;
  display: none;
}

textarea {
  width: 100%;
}

.composeH2 {
  text-align: left;
  border-bottom: 2px solid grey;
  margin-top: 0px;
}
/* 
input {
  align-items: left;
} */

.counter {
  float: right;
}

