#tweets {
  padding: 50px 0;
}
article {
  margin-top: .75em;
  margin-bottom: .75em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: white;
  border-radius: 5px;
  border: 0.8px solid #d3d3d3;
}

.tweetHead h2 {
  text-align: left;
  display: inline-block;
  margin-top: 5px;
}

.headerP {
  float: right;
  padding: 10px;
  display: inline;
}

.tweetHead {
  background-color: #FFF68F;
  border-radius:  5px 5px 0px 0px;
}

.images {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  float: left;
  padding: 10px
}

/* :after, .clearfix:before  */
.clearfix:after, .clearfix:before{
  clear: both;
  display:table;
  content: " ";
}

/* .clearfix:after {
  clear: both;
} */

.tBody {
  padding: 15px;
}

.pBody {
  word-wrap: break-word;
}

footer {
  border-top: 1px solid #dbdbdb;
  padding: 0 8px;
}

/* timestamp text */
.timestamp {
  display: inline;
  line-height: 3;
} 

/* bottom pictures */
.bottom {
  float: right;
  padding: 5px;
  opacity: 0;
}

article:hover .bottom{ 
 opacity: 1; 
}